Repository horoeka-2019/Wa, pull requests merged in 2019-12, with the labels that each got.

#13 Mahi summary
  client/components/MahiSummary.jsx
Labels: Client

#16 Closes #3 - Setup List Component
  client/components/Listing.jsx
Labels: Client, Component

#20 Mahi summary
  client/components/Listing.jsx
  client/components/MahiSummary.jsx
  tests/client/components/MahiSummary.test.js
Labels: Client, Component

#36 23 create add new mahi
  client/components/AddMahi.jsx
  client/components/Home.jsx
  tests/client/components/AddMahi.test.js
Labels: Client, Component

#47 46 create db test - getTasks function
  tests/server/db/tasks.test.js
  tests/server/db/test.environment.js
Labels: Database, Server, Testing

#72 38 add categories to the redux store
  client/actions/categories.js
  client/actions/error.js
  client/actions/index.js
  client/components/MahiSummary.jsx
  client/reducers/categories.js
  client/reducers/error.js
  client/reducers/index.js
  tests/client/actions/categories.test.js
  tests/client/actions/error.test.js
  tests/client/reducers/categories.test.js
  tests/client/reducers/error.test.js
Labels: Client, Redux

#74 73 connect add mahi to redux store
  client/components/AddMahi.jsx
Labels: Client, Component, Redux

#76 add mahi client side route tested
  client/api/tasks.js
  server/db/seeds/tasks.js
  tests/client/api/tasks.test.js
Labels: API, Client

#79 68 create reducers for loading component
  client/api/tasks.js
  client/components/AddMahi.jsx
  client/reducers/index.js
  client/reducers/pending.js
  tests/client/api/categories.test.js
  tests/client/api/tasks.test.js
  tests/client/components/AddMahi.test.js
  tests/client/components/Listing.test.js
  tests/client/reducers/pending.test.js
Labels: Client, Redux

#83 added client side route for dashboard
  client/components/App.jsx
  client/components/Dashboard.jsx
  client/components/Listing.jsx
  client/components/Nav.jsx
  tests/client/components/Listing.test.js
Labels: Client, Routing

#89 60 create error component
  client/components/Error.jsx
  tests/client/components/Error.test.js
Labels: Client, Component

#113 110 create api get user data
  client/api/users.js
  client/components/AddMahi.jsx
  tests/client/api/users.test.js
Labels: API, Client

#115 Revert "110 create api get user data"
  client/api/users.js
  client/components/AddMahi.jsx
  tests/client/api/users.test.js
Labels: API, Client
